
<div class="container section-gap">
    <h1 class="text-center pb-3">All Products</h1>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>Flyers & Leaflets</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/card3.jpg" alt="">
                <mat-card-content>
                <p>
                    Promote your business, announce an event or advertise a special offer with our Flyer and Leaflet printing service
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button >Price : &#163;29.99</a>
                    <a mat-raised-button color="accent" class="float-right" href="/flyer-printing">Shop Now</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>Posters</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/card1.jpg" alt="">
                <mat-card-content>
                <p>
                    Promote your business, announce an event or advertise a special offer with our Flyer and Leaflet printing service
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button >Price : &#163;29.99</a>
                    <a mat-raised-button color="accent" class="float-right" href="/flyer-printing">Shop Now</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>Flyers & Leaflets</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/card2.jpg" alt="">
                <mat-card-content>
                <p>
                    Promote your business, announce an event or advertise a special offer with our Flyer and Leaflet printing service
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button >Price : &#163;29.99</a>
                    <a mat-raised-button color="accent" class="float-right" href="/flyer-printing">Shop Now</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    
    <div class="row pt-3">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>Booklets & Brochures</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/card3.jpg" alt="">
                <mat-card-content>
                <p>
                    Promote your business, announce an event or advertise a special offer with our Flyer and Leaflet printing service
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button >Price : &#163;29.99</a>
                    <a mat-raised-button color="accent" class="float-right" href="/flyer-printing">Shop Now</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>Signs & Posters</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/card1.jpg" alt="">
                <mat-card-content>
                <p>
                    Promote your business, announce an event or advertise a special offer with our Flyer and Leaflet printing service
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button >Price : &#163;29.99</a>
                    <a mat-raised-button color="accent" class="float-right" href="/flyer-printing">Shop Now</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>Labels & Packaging</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/card2.jpg" alt="">
                <mat-card-content>
                <p>
                    Promote your business, announce an event or advertise a special offer with our Flyer and Leaflet printing service
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button >Price : &#163;29.99</a>
                    <a mat-raised-button color="accent" class="float-right" href="/flyer-printing">Shop Now</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
