<div class="container section-gap">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form [formGroup]="login_form" (ngSubmit)="loginAdmin()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required="required" type="email" placeholder="Enter Email Address">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="email.touched && email.errors?.required">
                        Email is Required
                    </mat-error>
                    <mat-error *ngIf="email.touched && email.invalid && !email.errors.required">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" required="required" type="password" placeholder="Enter Password">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="password.touched && password.errors?.required">
                        Password is Required
                    </mat-error>
                    <mat-error *ngIf="password.touched && password.invalid  && !password.errors?.required">
                        Minimum length should be {{ password.errors.minlength.requiredLength }} characters
                      </mat-error>
                </mat-form-field>
                <button mat-raised-button color="accent" type="submit" class="btn-block">Submit</button>
            </form>
            <div class="form-group">
                <a href="/register">Register Now</a>
                <a href="/forgot-password" class="float-right">Forgot Password?</a>
            </div>
        </div>
    </div>
    
</div>
