<div class="container section-gap">
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-9">
                    <h1 class="card-title" *ngIf="cart_products != ''">Cart</h1>
                    <h1 class="card-title" *ngIf="cart_products == ''">Cart is empty</h1>
                    <div class="table-responsive">
                        <table class="table table-borderless" *ngIf="cart_products != ''">
                            <thead class="text-primary">
                                <th>
                                    Product Info
                                </th>
                                <th>
                                    Price (£)
                                </th>
                                <th>
                                    Tax/VAT (%)
                                </th>
                                <th>
                                    Total Price (£)
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of cart_products;let i = index">
                                    <td>
                                        <b>{{ product.product_type }}</b><br>
                                        {{ product.quantity }}, {{ product.finishing_size }}, {{ product.printed_pages
                                        }},
                                        {{
                                        product.stock }}, {{ product.cover }}, {{ product.lamination }}
                                    </td>
                                    <td>
                                        {{ product.price }}
                                    </td>
                                    <td>
                                        {{ product.vat }}
                                    </td>
                                    <td>
                                        {{ product.total_price }}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm" (click)="delete_product(i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="cart_products != ''" style="border-left: 2px solid #f4b41a;">
                    <h1 class="card-title">Order Summary</h1>
                    <div class="d-flex justify-content-between">
                        <h4>Items ({{total_items}})</h4>
                        <h4>£ {{items_price}}</h4>
                    </div>
                    <hr>
                    <mat-label>SHIPPING</mat-label>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose an option</mat-label>
                        <mat-select #delivery_fee (selectionChange)='add_delivery_fee(delivery_fee.value)'
                            value="Standard">
                            <mat-option value="Standard">Standard Delivery (£ 5.0)</mat-option>
                            <mat-option value="Next Day">Next Day Delivery (£ 0.0)</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <h4>Total Price</h4>
                        <h4>£ {{total_price}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 pt-4">
                    <a mat-raised-button color="accent" class="btn" routerLink="/">Continue
                        Shopping
                    </a>
                </div>
                <div class="col-md-3 pt-4" style="border-left: 2px solid #f4b41a;">
                    <a mat-raised-button color="accent" class="btn btn-block pull-right" routerLink="/place-order"
                        *ngIf="cart_products != ''">Proceed
                        To Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>