<div class="section-gap container">
    <div class="row">
        <div class="col-md-3">
            <app-account-sidenav></app-account-sidenav>
        </div>
        <div class="col-md-9">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel *ngFor="let p of orders ;let i=index ">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>Order ID: {{p.id}} | Status: {{p.order_status}} | Date : {{p.order_date}}</b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-12">
                            <mat-label> <b>Price : £ {{p.items_price}} | Delivery Fee : £ {{p.delivery_fee}}
                                    | Total Price : £ {{p.total_price}}</b></mat-label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-label> <b>Delivery Address</b></mat-label><br>
                            <mat-label>{{ p.d_contact_name }} , {{ p.d_company_name }} </mat-label><br>
                            <mat-label>{{ p.d_address }} , {{ p.d_postcode }} </mat-label><br>
                            <mat-label>{{ p.d_state }} , {{ p.d_country }} </mat-label><br>
                            <mat-label>{{ p.d_phone }}</mat-label>
                        </div>
                        <div class="col-md-6">
                            <mat-label> <b>Billing Address</b></mat-label><br>
                            <mat-label>{{ p.contact_name }} , {{ p.company_name }} </mat-label><br>
                            <mat-label>{{ p.address }} , {{ p.postcode }} </mat-label><br>
                            <mat-label>{{ p.state }} , {{ p.country }} </mat-label><br>
                            <mat-label>{{ p.phone }}</mat-label>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <a mat-raised-button color="accent" routerLink="/invoice/{{ p.id }}">View Invoice</a>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

</div>