<div class="section-gap container">
    <div class="row">
        <div class="col-md-3">
            <app-account-sidenav></app-account-sidenav>
        </div>
        <div class="col-md-9 mt-3">
            <div class="container">
                <mat-card style="text-align: center;">
                    <h1>
                        Address Book
                    </h1>
                </mat-card>
                <mat-card class="mt-4">
                    <h2 style="text-align: center;">
                        Your Primary Addresses
                    </h2>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="card" style="background-color: #a2a2a230;">
                                <div class="card-body">
                                    <div class="row justify-content-between">
                                        <div class="pl-3">
                                            <b>Billing Address</b>
                                        </div>
                                        <div class="pr-3">
                                            <mat-icon>local_shipping</mat-icon>
                                        </div>
                                    </div>
                                    <address *ngIf="billing_address">
                                        {{billing_address.contact_name}}<br>
                                        {{billing_address.company_name}}<br>
                                        {{billing_address.address}}<br>
                                        {{billing_address.state}},<br>
                                        {{billing_address.postcode}},{{billing_address.country}}
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="background-color: #a2a2a230;">
                                <div class="card-body">
                                    <div class="row justify-content-between">
                                        <div class="pl-3">
                                            <b>Delivery Address</b>
                                        </div>
                                        <div class="pr-3">
                                            <mat-icon>attach_money</mat-icon>
                                        </div>
                                    </div>

                                    <address *ngIf="delivery_address">
                                        {{delivery_address.contact_name}}<br>
                                        {{delivery_address.company_name}}<br>
                                        {{delivery_address.address}},<br>
                                        {{delivery_address.state}},<br>
                                        {{delivery_address.postcode}},{{delivery_address.country}}
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="mt-4">
                    <h2 style="text-align: center;">
                        Address Book
                    </h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h3>
                                            Add new Address
                                        </h3>
                                    </div>
                                    <div class="mt-1 row justify-content-center">
                                        <a href="javascript:void(0);" (click)="enter_address(content)">Enter
                                            Manually</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let p of addresses ;let i=index " class="col-md-6 col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row justify-content-between">
                                        <div class="pl-3">
                                            {{p.contact_name}}<br>
                                            {{p.company_name}}
                                        </div>
                                        <div class="mr-3">
                                            <a href="javascript:void(0);" (click)="delete_address(p.id)">
                                                <mat-icon style="color:rgb(173, 29, 29)">delete_outline</mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <p>
                                            {{p.address}},{{p.state}},{{p.postcode}},{{p.country}}
                                        </p>
                                    </div>
                                    <div>
                                        <span class="pr-4 mb-3"><b>£</b></span>
                                        <a href="javascript:void(0);" class="pr-2"
                                            (click)="set_billing_address(p.id)">Set a billing Address</a>
                                    </div>
                                    <div>
                                        <span class="pr-2">
                                            <mat-icon> local_shipping</mat-icon>
                                        </span>
                                        <a href="javascript:void(0);" class="pr-2"
                                            (click)="set_delivery_address(p.id)">Set as Delivery Address</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

</div>
<!-- ========Modal to add new Adress =========== -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title justify-content-center" id="modal-basic-title">Add new Address</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #address_form="ngForm" (ngSubmit)="add_address(address_form)">
            <div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div>
                            <mat-form-field>
                                <input matInput #contact_name="ngModel" ngModel name="contact_name"
                                    placeholder="Contact Name" required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput #company_name="ngModel" ngModel name="company_name"
                                    placeholder="Comapany Name" required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput #phone="ngModel" ngModel name="phone" placeholder="Contact Phone"
                                    required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div>
                            <mat-form-field>
                                <input matInput #address="ngModel" ngModel name="address"
                                    placeholder="Enter Street Address" required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput #state="ngModel" ngModel name="state" placeholder="Enter State"
                                    required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput #country="ngModel" ngModel name="country" placeholder="Enter Country"
                                    required>
                            </mat-form-field>
                        </div>
                        <mat-form-field>
                            <input matInput #postcode="ngModel" ngModel name="postcode" placeholder="Enter Postcode"
                                required>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class=" row justify-content-end mt-4">
                <div class="pr-4">
                    <button type="submit" mat-raised-button color="accent">Add
                        Address</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>