.btn-search{
    width: 12rem;
    line-height: 36px;
    border: 1px solid #968E8E;
}
/* .card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 -webkit-transition: -webkit-transform 0.15s ease-out;
} */