<div class="container section-gap">
    <div class="row">
        <div class="col-md-9">
            <mat-accordion>
                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <h1 class="pt-3">
                            Delivery Address
                        </h1>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div *ngFor="let p of addresses ;let i=index " class="col-md-6 col-lg-4">
                            <div class="card mb-3 my-card" [ngClass]="{'checked':p.id === delivery_address}"
                                (click)="set_delivery_address(p.id)">
                                <div class="card-body">
                                    <div class="row justify-content-between">
                                        <div class="pl-3">
                                            <b>{{p.contact_name}}</b><br>
                                            {{p.company_name}}
                                        </div>
                                        <div class="pr-3">
                                            <mat-icon [ngClass]="{'checked1':p.id === delivery_address}">local_shipping
                                            </mat-icon>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <p>
                                            {{p.address}},{{p.state}},{{p.postcode}},{{p.country}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel class="mt-3">
                    <mat-expansion-panel-header>
                        <h1 class="pt-3">
                            Billing Address
                        </h1>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div *ngFor="let p of addresses ;let i=index " class="col-md-6 col-lg-4">
                            <div class="card mb-3 my-card" [ngClass]="{'checked':p.id === billing_address}"
                                (click)="set_billing_address(p.id)">
                                <div class="card-body">
                                    <div class="row justify-content-between">
                                        <div class="pl-3">
                                            <b>{{p.contact_name}}</b><br>
                                            {{p.company_name}}
                                        </div>
                                        <div class="pr-3">
                                            <mat-icon [ngClass]="{'checked1':p.id === billing_address}">attach_money
                                            </mat-icon>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <p>
                                            {{p.address}},{{p.state}},{{p.postcode}},{{p.country}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel class="mt-3">
                    <mat-expansion-panel-header>
                        <h1 class="pt-3">
                            Design Files
                        </h1>

                    </mat-expansion-panel-header>
                    <div class="row mb-3" *ngFor="let product of cart_products;let i = index">
                        <div class="col-md-9">
                            <b>{{ product.product_type }}</b><br>
                            {{ product.quantity }}, {{ product.finishing_size }}, {{ product.printed_pages
                            }}, {{
                            product.stock }}, {{ product.cover }}, {{ product.lamination }}
                        </div>
                        <form>
                            <div class="col-md-3">
                                <button type="button" mat-raised-button (click)="fileInput.click()"
                                    style="border: 1px solid #f4b41a">Choose
                                    File &nbsp;
                                    <mat-icon>image</mat-icon>
                                </button>
                                <input hidden #fileInput type="file" accept="application/pdf"
                                    (change)="onImageChange(i,$event,product.product_id,product.product_turnaround)">
                            </div>
                        </form>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel class="mt-3">
                    <mat-expansion-panel-header>
                        <h1 class="pt-3">
                            Payment Options
                        </h1>

                    </mat-expansion-panel-header>
                    <div class="row">

                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="row pt-3 justify-content-end">
                <div class="col-md-4 ">
                    <button (click)="place_order()" mat-raised-button class="btn" color="accent" class="btn-block">Place
                        Order</button>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Order Details</h1>
                    <div class="table-responsive">
                        <table class="table table-borderless" *ngIf="cart_products">
                            <thead class="text-primary">
                                <th>
                                    Product Info
                                </th>
                                <th>
                                    VAT
                                </th>
                                <th>
                                    Price
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of cart_products">
                                    <td>
                                        <b>{{ product.product_type }}</b><br>
                                        {{ product.quantity }}, {{ product.finishing_size }}, {{ product.printed_pages
                                        }}, {{
                                        product.stock }}, {{ product.cover }}, {{ product.lamination }}
                                    </td>
                                    <td>
                                        £{{ product.vat }}
                                    </td>
                                    <td>
                                        £{{ product.price }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Total</b></td>
                                    <td colspan="2" style="text-align: center;">£ {{total_price}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>