<div class="container section-gap">
    <div class="row" *ngIf="product">
        <div class="col-md-6 text-center">
            <img src="{{ product.image }}" class="rounded img-fluid" alt="" style="max-width: 80%;">
        </div>
        <div class="col-md-6">
            <div>
                <h1>{{ product.name }}</h1>
                <p>
                    {{ product.description }}
                </p>
            </div>
            <hr>
            <div>
                <form [formGroup]="product_form" enctype="multipart/form-data">
                    <h2 class="text-center">
                        Customise Your {{ product.name }}
                    </h2>
                    <mat-form-field appearance="fill">
                        <mat-label>Finishing Size</mat-label>
                        <mat-select formControlName="finishing_size" #finishing_size
                            (selectionChange)='change_finishing_size(finishing_size.value)'>
                            <mat-option *ngFor="let f_size of finishing_sizes" [value]="f_size.finishing_size">
                                {{f_size.finishing_size}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Printed Pages</mat-label>
                        <mat-select formControlName="printed_page" #printed_page
                            (selectionChange)='change_printed_page(printed_page.value,finishing_size.value)'>
                            <mat-option *ngFor="let p_page of printed_pages" [value]="p_page.printed_pages">
                                {{p_page.printed_pages}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Stock</mat-label>
                        <mat-select formControlName="stock" #stock
                            (selectionChange)='change_stock(stock.value,printed_page.value,finishing_size.value)'>
                            <mat-option *ngFor="let p_stock of stocks" [value]="p_stock.stock">
                                {{p_stock.stock}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Cover</mat-label>
                        <mat-select formControlName="cover" #cover
                            (selectionChange)='change_cover(cover.value,stock.value,printed_page.value,finishing_size.value)'>
                            <mat-option *ngFor="let p_cover of covers" [value]="p_cover.cover">
                                {{p_cover.cover}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Lamination</mat-label>
                        <mat-select formControlName="lamination" #lamination>
                            <mat-option *ngFor="let p_lamination of laminations" [value]="p_lamination.lamination">
                                {{p_lamination.lamination}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Turnaround</mat-label>
                        <mat-select formControlName="turnaround" #turnaround
                            (selectionChange)='change_turnaround(turnaround.value,lamination.value,cover.value,stock.value,printed_page.value,finishing_size.value)'>
                            <mat-option value="one_day">One Day</mat-option>
                            <mat-option value="two_day">Two Day</mat-option>
                            <mat-option value="three_day">Three Day</mat-option>
                            <mat-option value="seven_day">Seven Day</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Quantity</mat-label>
                        <mat-select formControlName="quantity" #quantity
                            (selectionChange)='change_quantity(quantity.value,turnaround.value,lamination.value,cover.value,stock.value,printed_page.value,finishing_size.value)'>
                            <mat-option *ngFor="let p_qty of quantities" [value]="p_qty.quantity">
                                {{p_qty.quantity}} Pcs - £{{p_qty.price}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <hr>
            <div *ngIf="prices">
                <span style="font-size:30px;">Price :</span><span class="float-right" style="font-size:40px">£
                    {{prices}}</span>
            </div>

            <div *ngIf="vats">
                <hr>
                <span style="font-size:30px;">Tax/VAT :</span><span class="float-right" style="font-size:40px">£
                    {{vats}}</span>
            </div>

            <div *ngIf="totals">
                <hr>
                <span style="font-size:30px;">Total :</span><span class="float-right" style="font-size:40px">£
                    {{totals}}</span>
                <hr>
            </div>

            <button mat-raised-button (click)="submitProduct(product_id,turnaround.value)" class="btn-block"
                color="accent">Add to Basket</button>
        </div>
    </div>
    <div class="container section-gap">
        <div class="info-bar">
            <div class="row ">
                <div class="col-md-4">
                    <h3><i class="fa fa-shopping-cart fa-2x"></i> &nbsp;Easy Shopping</h3>
                </div>
                <div class="col-md-4">
                    <h3><i class="fa fa-dollar fa-2x"></i> &nbsp;Money Back Guaruntee</h3>
                </div>
                <div class="col-md-4">
                    <h3><i class="fa fa-check fa-2x"></i> &nbsp;Qulaity Assured</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container section-gap">
    <div class="row">
        <mat-tab-group style="width:100%">
            <mat-tab label="Description">The simplest way to create four pages from a single sheet, a Half Fold Leaflet
                gives you more scope than a simple flyer and lets you divide your content into easy-to-read segments
                that meet in the middle.</mat-tab>
            <mat-tab label="Templates">Select Templates</mat-tab>
            <mat-tab label="Help">

                <div class="container">
                    <h1>FAQ</h1>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                This is the expansion title
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                This is the expansion title
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                This is the expansion title
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>