.data-selected {
  background-color: #143d59 !important;
  color: white !important;
  border:2px solid #f4b41a !important;
}
td:hover {
  background-color: #143d59 !important;
  color: white !important;
  cursor:pointer;
}

.table-bordered th, .table-bordered td{
  border: 1px solid #143D59;
}
.row-bg {
  background-color: #ceeafd;
  color: rgb(0, 0, 0);
}