/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.section-gap{
    padding: 4% 0%;
}
ol, ul {
  list-style: none;
}

mat-form-field{
  width: 100%;
}

mat-icon{
  color: #143d59;
}

.info-bar{
  background:linear-gradient(to right,#143d59c9, #f4b31ab7);
  text-align: center;
  padding-top: 15px;
  color: #fff;
}

.badge {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#lblCartCount {
    font-size: 12px;
    border:2px solid #f4b41a;
    background: #143D59;
    color: #fff;
    padding: 1px 5px;
    vertical-align: top;
    margin-left: -7px;
    margin-top: -6px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #143D59;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e2c40;
}