<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/card1.jpg" alt="Random first slide" class="carousel-image">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/card2.jpg" alt="Random first slide" class="carousel-image">
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/card3.jpg" alt="Random first slide" class="carousel-image">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
  </ngb-carousel>
  
<all-products></all-products>

<div class="container section-gap">
    <div class="info-bar">
        <div class="row " >
            <div class="col-md-4">
                <h3><i class="fa fa-shopping-cart fa-2x"></i> &nbsp;Easy Shopping</h3>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-dollar fa-2x"></i> &nbsp;Money Back Guaruntee</h3>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-check fa-2x"></i> &nbsp;Qulaity Assured</h3>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row about-section">
        <div class="col-md-5">
            <div class="left-side">
                <h1>Election Printing</h1>
                <p>Highlight Your Plans, Policies and Pomises with election Printing. Its time to set up the signage, plaster those Poster stuff leaflets in letterboxes</p>
                <button mat-raised-button color="accent" class="float-right btn-block">Shop Now</button>
            </div>
            
        </div>
        
    </div>
</div>

<top-products></top-products>

<div class="container section-gap">
    <div class="row about-section2">
        <div class="offset-md-7 col-md-5">
            <div class="left-side">
                <h1>Sample Pack</h1>
                <p>Put Our Printing To The Test!
                    We print high quality at favourable prices. To convince you of that we offer our Sample Pack free of cost!</p>
                <button mat-raised-button color="accent" class="float-right btn-block">Shop Now</button>
            </div>
            
        </div>
        
    </div>
</div>