<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/card1.jpeg" class="carousel-image">
    </div>
    <div class="carousel-caption">
      <h1 style="font-size: 70px;">London Same Day Printing</h1>
      <br>
      <h1>Put Our Printing To The Test! We print high quality at favourable prices.</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/card2.jpeg" class="carousel-image">
    </div>
    <div class="carousel-caption">
      <h1 style="font-size: 70px;">We Know Our Stuff</h1>
      <br>
      <h1>Whether you’re in need of shiny new business cards or eye-catching flyers, we offer high quality products at
        market-leading prices.</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/card3.jpeg" class="carousel-image">
    </div>
    <div class="carousel-caption">
      <h1 style="font-size: 70px;">Free UK Delivery as Standard</h1>
      <br>
      <h1>We offer free delivery across a wide range of our products as standard meaning no hidden fees.</h1>
    </div>
  </ng-template>
</ngb-carousel>

<app-featured-products></app-featured-products>

<div class="container-fluid">
  <div class="row about-section">
    <div class="col-md-5">
      <div class="left-side">
        <h1>Election Printing</h1>
        <p>Highlight Your Plans, Policies and Pomises with election Printing. Its time to set up the signage, plaster
          those Poster stuff leaflets in letterboxes</p>
        <button mat-raised-button color="accent" class="float-right btn-block">Shop Now</button>
      </div>

    </div>

  </div>
</div>

<!-- <top-products></top-products> -->
<all-products></all-products>

<div class="container-fluid mb-5">
  <div class="row about-section2">
    <div class="offset-md-7 col-md-5">
      <div class="left-side">
        <h1>Sample Pack</h1>
        <p>Put Our Printing To The Test!
          We print high quality at favourable prices. To convince you of that we offer our Sample Pack free of cost!</p>
        <button mat-raised-button color="accent" class="float-right btn-block">Shop Now</button>
      </div>

    </div>

  </div>
</div>

<!-- <div class="container section-gap mb-5">
  <div class="info-bar">
    <div class="row ">
      <div class="col-md-4">
        <h3><i class="fa fa-shopping-cart fa-2x"></i> &nbsp;Easy Shopping</h3>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-dollar fa-2x"></i> &nbsp;Money Back Guaruntee</h3>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-check fa-2x"></i> &nbsp;Qulaity Assured</h3>
      </div>
    </div>
  </div>
</div> -->