<div class="section-gap container">
  <div class="row">
    <div class="col-md-3">
      <app-account-sidenav></app-account-sidenav>
    </div>
    <div class="col-md-9">
      <mat-horizontal-stepper linear>
        <mat-step [stepControl]="name_form">
          <form [formGroup]="name_form" (ngSubmit)="name_submit()" *ngIf="user_data">
            <ng-template matStepLabel>Update Profile</ng-template>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="first_name" [(ngModel)]="user_data.first_name" required="required"
                    type="text" placeholder="Enter First Name">
                  <mat-icon matSuffix>person</mat-icon>
                  <mat-error *ngIf="first_name.touched && first_name.errors?.required">
                    First Name is Required
                  </mat-error>
                  <mat-error *ngIf="first_name.touched && first_name.invalid  && !first_name.errors?.required">
                    Minimum length should be {{ first_name.errors.minlength.requiredLength }} characters
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="last_name" [(ngModel)]="user_data.last_name" required="required"
                    type="text" placeholder="Enter Last Name">
                  <mat-icon matSuffix>person</mat-icon>
                  <mat-error *ngIf="last_name.touched && last_name.errors?.required">
                    Last Name is Required
                  </mat-error>
                  <mat-error *ngIf="last_name.touched && last_name.invalid  && !last_name.errors?.required">
                    Minimum length should be {{ last_name.errors.minlength.requiredLength }} characters
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" [(ngModel)]="user_data.email" required="required" type="email"
                    placeholder="Enter Last Name">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="email.touched && email.errors?.required">
                    Email is Required
                  </mat-error>
                  <mat-error *ngIf="email.touched && email.invalid && !email.errors?.required">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Telephone</mat-label>
                  <input matInput formControlName="telephone" [(ngModel)]="user_data.telephone" required="required"
                    type="number" placeholder="Enter Telephone Number">
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="telephone.touched && telephone.errors?.required">
                    Telephone is Required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Mobile</mat-label>
                  <input matInput formControlName="mobile" [(ngModel)]="user_data.mobile" required="required"
                    type="number" placeholder="Enter Mobile Number">
                  <mat-icon matSuffix>phone_iphone</mat-icon>
                  <mat-error *ngIf="mobile.touched && mobile.errors?.required">
                    Mobile is Required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-raised-button color="accent" type="submit" class="btn-block">Update</button>
            </div>
          </form>
        </mat-step>
        <!-- <mat-step [stepControl]="image_form">
          <form [formGroup]="image_form" (ngSubmit)="image_submit()" enctype="multipart/form-data">
            <ng-template matStepLabel>Upload Profile Image</ng-template>
            <button type="button" mat-raised-button (click)="fileInput.click()" style="border: 1px solid #f4b41a">Choose
              File &nbsp;
              <mat-icon>image</mat-icon>
            </button>
            <input hidden #fileInput type="file" id="file" formControlName="file" (change)="onImageChange($event)">
            <div style="padding-top: 20px;">
              <button mat-raised-button color="accent" type="submit" class="btn-block">Update</button>
            </div>
          </form>
        </mat-step> -->
        <!-- <mat-step [stepControl]="password_form">
          <form [formGroup]="password_form" (ngSubmit)="password_submit()">
            <ng-template matStepLabel>Change Password</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Old Password</mat-label>
              <input matInput formControlName="old_password" [(ngModel)]="user_data.old_password" required="required"
                type="password" placeholder="Enter Old Password">
              <mat-icon matSuffix>password</mat-icon>
              <mat-error *ngIf="email.touched && email.errors?.required">
                Email is Required
              </mat-error>
              <mat-error *ngIf="email.touched && email.invalid && !email.errors?.required">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                          <mat-label>Password</mat-label>
                          <input matInput formControlName="password" type="password" placeholder="Enter Password">
                          <mat-icon matSuffix>lock</mat-icon>
                      </mat-form-field>
        <div>
          <button mat-raised-button color="accent" type="submit" class="btn-block">Update</button>
        </div>
        </form>
        </mat-step> -->
      </mat-horizontal-stepper>
    </div>
  </div>

</div>